.logo {
  position: absolute;
  width: 9rem;
  bottom: 1rem;
  right: -1rem;
  transform: rotateY(10deg);
}

@media (max-width: 800px) {
  .logo {
    width: 6rem;
    transform: rotateY(0deg);
  }
}
